@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Open+Sans:wght@300;400;500;700&display=swap");
.btn-bg {
  position: relative;
  isolation: isolate;
  transition: all 250ms;
}

@media (max-width: 450px) {
  .btn-bg {
    cursor: pointer;
    cursor: default;
  }
}
.btn-bg::before, .btn-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: inherit;
  background: inherit;
  border-radius: inherit;
}

.btn-bg::before {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15), inset 0.15rem 0.15rem 0.15rem #fff4;
}

.btn-bg::after {
  opacity: 0;
  box-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.25), inset 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.075);
}

@media (min-width: 576px) {
  .btn-bg:hover, .btn-bg:focus {
    scale: 0.975;
  }

  .btn-bg:hover::after, .btn-bg:focus::after {
    opacity: 1;
  }

  .btn-bg:hover::before, .btn-bg:focus::before {
    opacity: 0;
  }
}
.btn-bg:active {
  scale: 0.965;
}

.btn-bg:active::after {
  opacity: 1;
}

.btn-bg:active::before {
  opacity: 0;
}

.top-btn {
  position: fixed;
  bottom: 10vh;
  right: 0.25rem;
  width: 1rem;
  height: 1rem;
  border: 3px solid #29323d;
  border-right-color: #0001;
  border-bottom-color: #0001;
  rotate: 45deg;
  z-index: 50;
  cursor: default;
}

@media (max-width: 450px) {
  .top-btn {
    cursor: pointer;
  }
}
@font-face {
  font-family: "Content";
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 1000;
  font-display: swap;
}
.btn-bg {
  position: relative;
  isolation: isolate;
  transition: all 250ms;
}

@media (max-width: 450px) {
  .btn-bg {
    cursor: pointer;
    cursor: default;
  }
}
.btn-bg::before, .btn-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: inherit;
  background: inherit;
  border-radius: inherit;
}

.btn-bg::before {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15), inset 0.15rem 0.15rem 0.15rem #fff4;
}

.btn-bg::after {
  opacity: 0;
  box-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.25), inset 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.075);
}

@media (min-width: 576px) {
  .btn-bg:hover, .btn-bg:focus {
    scale: 0.975;
  }

  .btn-bg:hover::after, .btn-bg:focus::after {
    opacity: 1;
  }

  .btn-bg:hover::before, .btn-bg:focus::before {
    opacity: 0;
  }
}
.btn-bg:active {
  scale: 0.965;
}

.btn-bg:active::after {
  opacity: 1;
}

.btn-bg:active::before {
  opacity: 0;
}

.top-btn {
  position: fixed;
  bottom: 10vh;
  right: 0.25rem;
  width: 1rem;
  height: 1rem;
  border: 3px solid #29323d;
  border-right-color: #0001;
  border-bottom-color: #0001;
  rotate: 45deg;
  z-index: 50;
  cursor: default;
}

@media (max-width: 450px) {
  .top-btn {
    cursor: pointer;
  }
}
@font-face {
  font-family: "Content";
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 1000;
  font-display: swap;
}
#nav {
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100%;
  padding: 1.25rem 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15191e;
  z-index: 10;
}

@media (min-width: 768px) {
  #nav {
    padding: 1.5em 10vw;
  }
}
#nav .brand {
  width: 10rem;
  overflow: none;
  position: relative;
}

#nav .brand a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(.95rem, 1.5vw, 1rem);
  width: max-content;
  padding: 0.125rem 0.5rem;
  color: #f4f4f4;
  border: 1px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 0.5rem;
  cursor: default;
  transition: 200ms;
}

#nav .brand a img {
  width: 100%;
}

#nav .brand a:active {
  transform: scale(0.95);
}

@media (min-width: 576px) {
  #nav .brand a {
    cursor: pointer;
  }

  #nav .brand a:hover {
    transform: scale(0.95);
  }
}
#nav .nav-list {
  background-color: #1f252d;
  color: #f4f4f4;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  right: -110%;
  top: 7vh;
  transition: 500ms;
  padding: 15vh 5vw 0;
  z-index: -2;
}

#nav .nav-list ul {
  list-style: none;
}

#nav .nav-list ul li {
  margin-bottom: 2em;
  display: flex;
  padding: 0.5em 0;
}

#nav .nav-list ul li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #f4f4f4;
  width: 100%;
  cursor: default;
}

#nav .nav-list ul li a:hover {
  color: skyblue;
}

#nav .nav-list ul li i {
  flex-basis: 5%;
  display: grid;
  place-items: center;
  margin-right: 0.2em;
}

@media (max-width: 768px) {
  #nav .nav-list ul {
    border: 1px solid #f0f2f5;
    border: 1px solid #fff7;
    width: 95%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    gap: 1rem;
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 0.5rem;
  }

  #nav .nav-list ul li {
    background: #475462;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    transition: 150ms;
  }

  #nav .nav-list ul li a {
    padding: 0.5rem 0.25rem;
  }

  #nav .nav-list ul li i {
    margin: 0;
    flex-basis: 15%;
    transition: 250ms;
  }

  #nav .nav-list ul li:hover {
    background: transparent;
    border-top-color: #fff8;
    border-bottom-color: #fff8;
  }

  #nav .nav-list ul li:hover i {
    translate: 0.25rem;
  }

  #nav .nav-list.active {
    right: -5vw;
  }
}
@media (min-width: 768px) {
  #nav .nav-list {
    position: relative;
    background-color: #000;
    right: 0;
    top: 0;
    padding: 0.3em 0;
    padding: 0.5rem;
    border-radius: 5px;
    min-height: auto;
    height: 5vh;
    z-index: 5;
  }

  #nav .nav-list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  #nav .nav-list ul li {
    margin: 0;
    padding: 0.5em 1em;
  }

  #nav .nav-list ul li a {
    font-size: 0.95rem;
    color: #f4f4f4;
    cursor: pointer;
    display: block;
  }

  #nav .nav-list ul li i {
    padding-right: 0.3em;
  }

  #nav .nav-list ul li:hover i {
    color: #f4f4f4;
  }
}
.nav-toggle {
  border: 1px solid #f0f2f5;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  right: 1rem;
  padding: 1em;
  display: grid;
  place-items: center;
  transition: 0.3s ease;
  cursor: default;
}

.nav-toggle .bar {
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #f0f2f5;
  transition: 0.3s;
}

.nav-toggle .bar::before, .nav-toggle .bar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f0f2f5;
  transition: 0.3s ease;
}

.nav-toggle .bar::before {
  transform: translateY(0.3em);
}

.nav-toggle .bar:after {
  transform: translateY(-0.3em);
}

.nav-toggle:active {
  background-color: #29323d;
}

.nav-toggle.active {
  transition: 500ms ease;
}

.nav-toggle.active .bar::before {
  transform: translateX(-0.25rem) translateY(0.3em);
}

.nav-toggle.active .bar::after {
  transform: translateX(0.25rem) translateY(-0.3em);
}

@media (min-width: 576px) {
  .nav-toggle:hover {
    background-color: #29323d;
  }
}
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
form {
  padding: 5vh 5vw 10vh;
  background-color: #fff;
  margin-inline: auto;
}

@media (min-width: 820px) {
  form {
    margin-block: 5vh;
    width: 80vw;
    border-radius: 0.5rem;
  }
}
form fieldset {
  width: 100%;
  margin: 5vh auto 10vh;
  padding: 0.5rem;
  height: auto;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #29323d;
  border-radius: 0.5rem;
  transition: 500ms;
  position: relative;
  isolation: isolate;
}

form fieldset:last-of-type {
  margin-bottom: 5vh;
}

@media (min-width: 768px) {
  form fieldset {
    padding: 1rem;
    max-width: 600px;
  }
}
form fieldset .field-text {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

form fieldset .field-btn {
  position: absolute;
  right: 0.5em;
  top: 0;
  display: block;
  width: 3em;
  padding: 0.8em 2em;
  border-radius: 15px;
}

form fieldset .field-btn::after, form fieldset .field-btn::before {
  position: absolute;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

form fieldset .field-btn::before {
  content: "open";
}

form fieldset .field-btn::after {
  content: "close";
  opacity: 0;
}

form fieldset .field-btn.active::before {
  opacity: 0;
}

form fieldset .field-btn.active::after {
  opacity: 1;
}

form fieldset .input-div {
  width: 100%;
}

form fieldset .input-div label {
  margin-top: 0.5em;
}

form fieldset .input-div input {
  text-overflow: ellipsis;
}

form legend {
  margin: 0 auto;
  padding: 0.25rem;
  font-size: clamp(1rem, 2vw, 1.025rem);
  text-transform: capitalize;
  background: #1f252d;
  color: #f4f4f4;
  border-radius: 0.25rem;
  border: 1px solid #333a;
  cursor: help;
}

form #rider label {
  text-transform: capitalize;
  padding-inline: 0.25rem;
}

form #rider input {
  margin-bottom: 1rem;
}

form .input-div {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  padding: 0.5em 0.1em;
  transition: 0.3s ease;
  position: relative;
  color: #000;
}

form .input-div .info-section {
  background-color: #29323d;
  color: #f4f4f4;
  height: 0;
  padding: 0.125rem;
  margin: 0.5rem auto 1rem;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 5px;
  cursor: help;
  overscroll-behavior: contain;
}

@media (max-width: 768px) {
  form .input-div .info-section {
    width: 90%;
  }
}
form .input-div .info-section p {
  padding: 0.5rem;
  line-height: 1.6;
}

form .input-div .info-section:hover {
  height: 50vh;
  overflow: auto;
  background-color: #161616;
  background-color: #161616;
}

form .input-div .info-section:hover i {
  color: #ead2a1;
  background-color: #161616;
}

form .input-div .info-section.active {
  height: 50vh;
  overflow: auto;
}

form .input-div .info-section.active i {
  color: #ead2a1;
  background-color: #161616;
  animation: none;
  opacity: 0.8;
}

form .input-div i {
  color: #000;
  background-color: #ead2a1;
  border-radius: 50%;
  position: absolute;
  top: 0.5em;
  right: 0;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}
form .input-div label {
  transform: translateY(-0.5em);
  text-transform: capitalize;
  transition: 0.2s;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

form .input-div label span {
  color: #000a;
  text-transform: lowercase;
  font-size: clamp(.95rem, 1.5vw, 1rem);
}

form .input-div input,
form .input-div textarea {
  outline: 1px solid #000;
  outline-offset: -3px;
  padding: 0.75rem;
  transition: 0.3s ease;
  border-radius: 5px;
  border: none;
  font-size: clamp(1rem, 2vw, 1.025rem);
}

form .input-div input:focus,
form .input-div textarea:focus {
  outline: 1px dashed lime;
}

form .input-div input:invalid,
form .input-div textarea:invalid {
  outline: 1px dashed #bb1133;
}

form .input-div textarea {
  padding: 0.5em;
  font-size: 1.2em;
}

form .input-div ::placeholder {
  color: #a3a3a3;
  color: #000a;
  text-transform: capitalize;
  opacity: 0.5;
}

form .input-div.services input {
  margin: 0.5em 0;
}

form .input-div:hover label {
  transform: translateY(0) translateX(0.5em);
}

form #submit-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto 5vh;
  padding: 0.75rem;
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 1.025rem);
  font-weight: 500;
  letter-spacing: 0.0125em;
  border: none;
  border-radius: 0.5rem;
  position: relative;
  isolation: isolate;
  cursor: default;
  transition: 250ms ease;
}

@media (min-width: 576px) {
  form #submit-btn {
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  form #submit-btn {
    justify-content: center;
    cursor: pointer;
  }
}
form #submit-btn.btn-bg {
  background: #5f0315;
}

form #submit-btn.btn-bg::before {
  background-image: linear-gradient(0deg, #5f0315, #dc143c);
}

form #submit-btn.btn-bg::after {
  background: #5f0315;
}

form #submit-btn:hover {
  color: skyblue;
}

form #submit-btn:hover .icon {
  rotate: 30deg;
}

form #submit-btn:active .icon {
  rotate: 45deg;
}

.hero {
  position: relative;
  height: 100dvh;
  height: 95vh;
  text-align: center;
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  .hero {
    padding: 0 5vw;
  }
}
@media (min-width: 820px) {
  .hero {
    padding: 10vh 5vw;
  }
}
.hero-img {
  display: block;
  margin: 0 auto 5vh;
  width: 100%;
  height: 40vh;
  max-height: 450px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.hero-img::after {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(0deg, #29323c 0%, #485563 100%);
  background: linear-gradient(90deg, #29323d 30%, transparent, #29323d 70%);
  opacity: 0.35;
}

.hero-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-content {
  padding: 0 5vw 1rem;
}

@media (min-width: 820px) {
  .hero-content {
    padding: 0;
  }
}
.hero-content .hero-title {
  margin-bottom: 1rem;
  max-width: 800px;
  margin-inline: auto;
}

.hero-content .hero-title h1 {
  text-transform: capitalize;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 0.5rem;
}

.hero-content .hero-title h1 span {
  color: #bb1133;
}

.hero-content .hero-title h2 {
  color: #475462;
  font-size: clamp(1.15rem, 2.5vw, 1.5rem);
  font-weight: 500;
}

.hero-content .hero-title h2::first-letter {
  text-transform: capitalize;
}

.hero-content p {
  margin: 1.5rem 0;
  position: relative;
}

.hero-content p a {
  color: #000;
  transition: 0.2s;
}

.hero-content p a:hover {
  color: skyblue;
  text-decoration: none;
}

.hero-cta-btns {
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero-cta-btns a {
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 2vw, 1.025rem);
  text-decoration: none;
  text-transform: capitalize;
  color: #f4f4f4;
  background: #1f252d;
}

.hero-cta-btns a.btn-secondary {
  background: white;
  color: #000;
}

.hero-cta-btns a::before {
  background: linear-gradient(0deg, #15191e, #29323d, #15191e);
}

.hero-cta-btns a:hover, .hero-cta-btns a:focus {
  color: skyblue;
}

.btn-bg {
  position: relative;
  isolation: isolate;
  transition: all 250ms;
}

@media (max-width: 450px) {
  .btn-bg {
    cursor: pointer;
    cursor: default;
  }
}
.btn-bg::before, .btn-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: inherit;
  background: inherit;
  border-radius: inherit;
}

.btn-bg::before {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15), inset 0.15rem 0.15rem 0.15rem #fff4;
}

.btn-bg::after {
  opacity: 0;
  box-shadow: 0 0.2rem 0.15rem rgba(0, 0, 0, 0.25), inset 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.075);
}

@media (min-width: 576px) {
  .btn-bg:hover, .btn-bg:focus {
    scale: 0.975;
  }

  .btn-bg:hover::after, .btn-bg:focus::after {
    opacity: 1;
  }

  .btn-bg:hover::before, .btn-bg:focus::before {
    opacity: 0;
  }
}
.btn-bg:active {
  scale: 0.965;
}

.btn-bg:active::after {
  opacity: 1;
}

.btn-bg:active::before {
  opacity: 0;
}

.top-btn {
  position: fixed;
  bottom: 10vh;
  right: 0.25rem;
  width: 1rem;
  height: 1rem;
  border: 3px solid #29323d;
  border-right-color: #0001;
  border-bottom-color: #0001;
  rotate: 45deg;
  z-index: 50;
  cursor: default;
}

@media (max-width: 450px) {
  .top-btn {
    cursor: pointer;
  }
}
@font-face {
  font-family: "Content";
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 1000;
  font-display: swap;
}
#features {
  width: 100%;
  padding: 0;
}
#features p {
  margin: 5vh auto 1em;
}
#features .feature-items {
  padding: 0.5em;
}
#features .feature-items .feature-control {
  padding: 0.5em 0;
}
#features .feature-items .feature-control .feature-content {
  display: flex;
  flex-direction: column;
}
#features .feature-items .feature-control .feature-content input {
  width: 50%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 2px solid #000;
  border-radius: 5px;
}
#features .feature-items .feature-control .feature-content textarea {
  width: 100%;
}
#features .feature-items button {
  border-radius: 20px;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: cell;
  text-transform: capitalize;
  transition: 0.2s;
}
#features .feature-items button:active {
  transform: scale(0.9);
}
#features .feature-container {
  border: none;
  outline: none;
  padding: 0.5em;
  margin: 5vh 0;
  border-radius: 5px;
  overflow: hidden;
}
#features .feature-container .item-name {
  border-radius: 20px;
  text-align: center;
  outline: none;
  margin: 0 auto 1em;
  width: 50%;
  text-transform: capitalize;
  box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px rgba(0, 0, 0, 0.667), 0px 3px 3px rgba(0, 0, 0, 0.35);
}
#features .feature-container .item-description {
  color: #ddd;
  width: 100%;
  box-shadow: inset 2px 2px 2px #fffa, inset -2px -2px 2px #000a, 0px 3px 3px rgba(0, 0, 0, 0.35);
  outline: none;
  border: none;
}
#features .feature-container .feature-list .input-div {
  margin-bottom: 2em;
}
#features .feature-container .feature-list .input-div .delete-btn {
  width: 2em;
  height: 2em;
  display: grid;
  place-items: center;
  padding: 0.1em;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(50%);
  background-color: #000;
  color: #f4f4f4;
  box-shadow: inset 2px 2px 3px #fffa, 2px 2px 3px rgba(0, 0, 0, 0.388);
}
#features .feature-container .feature-list .input-div .delete-btn:active {
  transform: translateY(50%) scale(0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

h1, h2, h3, h4, h5 h6 {
  text-wrap: balance;
}

p, li {
  text-wrap: pretty;
  font-size: clamp(1rem, 2vw, 1.025rem);
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  position: relative;
  background-color: #f4f4f4;
  color: #15191e;
}

img {
  display: block;
  max-width: 100%;
}

.icon {
  width: 1.025rem;
  height: 1.025rem;
  transition: 250ms ease;
}

#container {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  transition: 250ms;
}
@media (min-width: 768px) {
  #container {
    padding: 0 5vw;
  }
}
@media (max-width: 768px) {
  #container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #29323c;
    opacity: 0;
    transition: 500ms;
    z-index: -5;
  }
  #container.dim::after {
    opacity: 0.5;
    z-index: 5;
  }
}

footer {
  width: 100%;
  background-color: #15191e;
  color: #f4f4f4;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
footer .footer-div {
  padding: 1.5rem;
}
footer .footer-div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .copyright {
  background-color: #20262e;
}
footer p {
  text-transform: capitalize;
  line-height: 1.8;
}
footer a {
  color: #ead2a1;
  text-decoration: none;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
