// BACKGROUND COLORS
$background-light: #fff;
$background-gray: #f4f4f4;
$background-dark: #333;
$background-light: #fff000;
$background-light: #f4f4f4;
$brand-overlay: #a6b2bf;

// TEXT COLORS
$text-brand: skyblue;
$text-black: #000;
$text-dark: #000;
$text-white: #fff;
$text-light: #f4f4f4;
$nav-links: hsl(0, 0%, 95%);
$text-light-trans: #000a;
$text-dark-trans: #333;

// BORDER COLORS
$border-light: #fff8;
$border-light-hover: yellow;
$overlay-border-light: hsl(211, 16%, 85%);

// BUTTON COLORS
$btn-secondary: hsl(0, 0%, 100%);


// BRAND COLORS
$brand: lime;
$brand: hsl(209, 20%, 75%);
$brand: hsl(209, 20%, 95%);
$brand-border: hsla(210, 19%, 75%, .5);
$crimson-border: #dc143c8c;
$span-gold: #ead2a1;
$span-light: hsl(210, 19%, 75%);
$light-span: #fff9;
$span-brand: #f72751;
$span-violet: violet;
$span-blue: #0000ff;
$span-crimson-dark: #dc143c8c;
$span-orange: tomato;
$border: #ead2a15e;
$trans-border: rgba(255, 255, 255, 0.155);
$dark-crimson:#b60f30;
$span-crimson: hsl(348, 83%, 40%);

$brand-shadow: hsla(211, 16%, 33%, 0.35);
// $brand-shadow: #dc143c8c;
$overlay-trans: hsla(212, 19%, 10%, 0.773);



// GRADIENTS
$overlay-60deg: linear-gradient(-60deg, #29323c 0%, #485563 100%);
$overlay: linear-gradient(0deg, #29323c 0%, #485563 100%);
$overlay-dark: linear-gradient(0deg, hsl(214, 18%, 15%) 30% , hsl(212, 19%, 25%) 70%);
$overlay-btn: linear-gradient(0deg, #20262e, #485563 );
$overlay-btn-hover: linear-gradient(0deg , #485563, #20262e );
$overlay-blue-dark:hsl(213, 20%, 20%);
$overlay-blue-darker:hsl(214, 18%, 15%);
$overlay-blue-darkest:hsl(213, 18%, 10%);
$overlay-blue-black:hsl(213, 18%, 5%);
$overlay-black:hsl(213, 18%, 1%);
$overlay-blue-light: hsl(211, 16%, 33%);
$overlay-blue-lighter: hsl(211, 16%, 75%);
$overlay-footer: linear-gradient(0deg, #000, #15191e);

// NAV COLORS
$nav-background: #29323c;
$nav-active-background: #1b2127;

// BUTTON COLORS
$button-crimson: linear-gradient(0deg, #3f0d0d, #dc134c);
$button-light: linear-gradient(0deg, #ddd, #f4f4f4);
$button-light-hover: linear-gradient(0deg, #f4f4f4, #ddd);
$button-crimson-hover: linear-gradient(0deg, #dc134c , #3f0d0d);

// FORM COLORS  
$background-invalid: #f7cdd5c7;
$text-invalid: #000;
$background-valid: #cdf7d3c7;
$text-valid: #000;