@use '../abstracts/mixin';

.btn-bg {
    // border: 3px solid red;

    position: relative;
    isolation: isolate;
    transition: all 250ms;

    cursor: default;

    @include mixin.sm {
        cursor: pointer;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        transition: inherit;
        background: inherit;
        border-radius: inherit;
    }

    &::before {
        box-shadow: 0 0.5rem 0.25rem hsla(0, 0%, 0%, 0.075),
                    inset 0.15rem 0.15rem 0.15rem #fff4,
                    inset -0.15rem -0.15rem 0.15rem #0004;
    }
    
    &::after {
        opacity: 0;
        box-shadow: 0 0.25rem 0.2rem hsla(0, 0%, 0%, 0.25),
                    inset 0.15rem 0.15rem 0.15rem hsla(0, 0%, 0%, 0.075);
    } 

    @include mixin.sm {
        
        &:hover, &:focus {
            scale: .975;
            &::after {
                opacity: 1;
            }
            &::before {
                opacity: 0;
            }
        }
        
    }


    &:active {
        scale: .965;
        &::after {
            opacity: 1;
        }
        &::before {
            opacity: 0;
        }
    }
}