@font-face {
    font-family: "Content";
    src: 
    url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 1000;
    font-display: swap;
}

// TEXT SIZES
$font-clamp-xsm: clamp(.95rem, 1.5vw, 1rem);
$font-clamp-sm: clamp(1rem, 2vw, 1.025rem);
$font-clamp-md: clamp(1.15rem, 2.5vw, 1.5rem);
$font-clamp-lg: clamp(1.5rem, 5vw, 2rem);
$font-clamp-xlg: clamp(2.5rem, 6vw, 3rem);

$font-clamp-h4: clamp(1.1rem, 1.5vw, 1.225rem);
