@import './abstracts/';
@import './layout/';
@import 'features';
@import 'variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

h1, h2, h3, h4, h5 h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
    font-size: $font-clamp-sm;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $font-sans;
    position: relative;
    background-color: $background-light;
    color: $overlay-blue-darkest;
}

img {
        display: block;
        max-width: 100%;    
}

// a {
//     text-decoration: none;
// }



#container {
    @media (min-width: 768px){
        padding: 0 5vw;
    }
    // margin: 5vh 0;
    width: 100%;
    overflow-x: hidden;
    // padding: .5em;
    position: relative;
    transition: .5s;
    // background dim when nav open
    @media (max-width: 768px) {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $overlay-blue-dark;
            opacity: 0;
            transition: .5s;
            z-index: -5;
        }
        &.dim {
            &::after {
                opacity: .5;
                z-index: 5;
            }
        }
    }
    
    

   

    #about {
        textarea {
            &:focus {
                background: $overlay-blue-light;
            }
        }
    }
}

footer {
    width: 100%;
    padding: 5vh 5vw;
    background-color: $overlay-blue-darker;
    color: $text-brand;
    text-align: center;
    text-transform: capitalize;

    p {
        color: $text-light;
        margin-top: .5em;
    }

    a {
        color: $text-brand;
        text-decoration: none;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) translateY(200%);
            width: 80%;
            height: 2px;
            opacity: 0;
            background-color: $text-brand;
            transition: .2s;
        }

        // HOVER STATE
        &:hover {
            &::after {
                opacity: 1;
            transform: translateX(-50%) translateY(0%);
            }
        }
    }
}