@import './abstracts/';
@import './layout/';
@import 'features';
@import 'variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

h1, h2, h3, h4, h5 h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
    font-size: $font-clamp-sm;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $font-sans;
    position: relative;
    background-color: $background-light;
    color: $overlay-blue-darkest;
}

img {
        display: block;
        max-width: 100%;    
}


#container {
    @media (min-width: 768px){
        padding: 0 5vw;
    }
    // margin: 5vh 0;
    width: 100%;
    overflow-x: hidden;
    // padding: .5em;
    position: relative;
    transition: .5s;
    // background dim when nav open
    @media (max-width: 768px) {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $overlay-blue-dark;
            opacity: 0;
            transition: .5s;
            z-index: -5;
        }
        &.dim {
            &::after {
                opacity: .5;
                z-index: 5;
            }
        }
    }
    
    

    #about {
        textarea {
            &:focus {
                background: $overlay-blue-light;
            }
        }
    }
}

footer {
    // border: 2px solid red;
    width: 100%;
    // padding: 5vh 5vw;
    background-color: $overlay-blue-darkest;
    color: $text-light;
    text-align: center;
    display: flex;
    flex-direction: column;

    @include md {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .footer-div {
        padding: 1rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
    .copyright {
        background-color: $overlay-blue-darker;
    }
    
    p {
        text-transform: capitalize;
        line-height: 1.8;
    }

    a {
        color: $text-brand;
        text-decoration: none;
        position: relative;
    }
}