@use '../abstracts';


section {
    // border: 1px solid red;
    padding: 5vh 5vw 5vh;
    background: #fff;

    @include abstracts.md {
        background: inherit;
        padding: 10vh 10vw;
        // border: 2px solid red;
    }

    p, li {
        line-height: 1.8;
    }

    h3 {
        color: abstracts.$brand-dark;
        margin-bottom: 1rem;
        font-size: abstracts.$font-clamp-sm;
    }

    text-align: center;
}

.about {
    position: relative;
    
    .article-img {
        // border: 1px solid red;
        height: 200px;
        margin-bottom: 1rem;
        border-radius: abstracts.$border-radius-md;
    }

    img {
        margin: 0 auto;
    }
}

.services {
    background: hsl(0, 0%, 96%);

    .services-intro {
        margin-bottom: 2rem;
        
        h3 {
            text-transform: capitalize;
        }

        p {
            background: abstracts.$brand-darkest;
            padding: 0.5rem;
            color: abstracts.$text-light;
            border-radius: abstracts.$border-radius-md;

            a {
                color: abstracts.$brand-light;
                text-transform: capitalize;
            }
        }

    }

    .service {
        margin-bottom: 5vh;
    }
    ul {
        // border: 1px solid red;
        list-style: none;
        overflow: hidden;
        border-radius: abstracts.$border-radius-sm;
        
        li {
                font-size: abstracts.$font-clamp-xsm;
                background-color: hsl(0, 0%, 87%);
                padding: 0.25rem;
                text-transform: capitalize;
        
                &:nth-child(even) {
                    background-color: hsl(0, 0%, 80%);
                }

        }
    }
}