@use '../abstracts';


section {
    padding: 5vh 5vw;
    background: #fff;

    @include abstracts.md {
        background: inherit;
        padding: 10vh 10vw;
        // border: 2px solid red;
    }

    p, li {
        line-height: 1.8;
    }

    h3 {
        color: abstracts.$brand-dark;
        margin-bottom: 1rem;
        font-size: abstracts.$font-clamp-sm;
    }

    text-align: center;
}

.about {
    position: relative;
    
    img {
        margin: 0 auto;
    }
}

.services {
    background: #f4f4f4;
    .service {
        margin-bottom: 5vh;
    }
    ul {
        // border: 1px solid red;
        list-style: none;
        overflow: hidden;
        border-radius: abstracts.$border-radius-sm;
        
        li {
                font-size: abstracts.$font-clamp-xsm;
                background-color: hsl(0, 0%, 87%);
                padding: 0.25rem;
                text-transform: capitalize;
        
                &:nth-child(even) {
                    background-color: hsl(0, 0%, 80%);
                }

        }
    }
}