@use '../abstracts';


footer {
    width: 100%;
    background-color: abstracts.$overlay-blue-darkest;
    background-color: abstracts.$brand-darkest;
    color: abstracts.$text-light;
    text-align: center;
    display: flex;
    flex-direction: column;

    @include abstracts.md {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        // padding: 2rem;
    }

    .footer-div {

        padding: 2rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
    .copyright {
        background-color: abstracts.$overlay-blue-darker;
        background-color: abstracts.$brand-dark-black;
    }
    
    p {
        text-transform: capitalize;
        line-height: 1.8;

    }

    a {
        color: abstracts.$brand-light;
        text-decoration: none;
        position: relative;
    }
}