@use '../abstracts';
@use '../variables';

form {
    padding: 5vh 5vw;
    background-color: #fff;
    max-width: 800px;
    margin-inline: auto;
    // width: 100%;
    
    fieldset {
        margin: 5vh auto 10vh;
        background-color: variables.$invalid;
        background-color: #fff;
        padding: 1.3em .5em;
        padding: 0.5rem;
        overflow-y: auto;
        height: auto;
        position: relative;
        // border: none;
        border: 1px solid abstracts.$overlay-blue-dark;
        transition: 500ms;
        border-radius: abstracts.$border-radius-md;
        isolation: isolate;
        // box-shadow: abstracts.$box-shadow-item-md;
        
        @include abstracts.md {
            padding: 1rem;
        }
    

        // end of active class
        // button
        .field-btn {
            position: absolute;
            right: .5em;
            top:0;
            display: block;
            width: 3em;
            padding: .8em 2em;
            border-radius: 15px;
            // border: 1px solid green;
            &::after, &::before {
                position: absolute;
                display: grid;
                place-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
            &::before {
                content: 'open';
            }
            &::after {
                content: 'close';
                opacity: 0;
            }

            // button active
            &.active {
                &::before {opacity: 0;}
                &::after {opacity: 1;}
            }
        }
        // end of button
        

        .input-div {
            width: 100%;
            label {
                margin-top: .5em;
            }
            input {
                text-overflow: ellipsis;
            }
        }

        // FIELDSET HOVER CLASS
        // &:hover {
        //     scale: 1;
        // }

        // FEATURES
        &.features {
            h2 {
                text-transform: uppercase;
                font-family: variables.$font-sans;
                text-align: center;
            }
            .feature-items {
                padding: 1em 0;
                
                .item {
                    background-color: #eee;
                    display: flex;
                    flex-direction: column;
                    // padding: 5px;
                    margin: 1em 0;

                    input {
                        width: 100%;
                    }
                    textarea {
                        width: 100%;
                    }
                }
            }
        }

    }
    
    legend {
        margin: 0 auto;
        padding: 0.25rem;

        font-size: abstracts.$font-clamp-sm;
        text-transform: capitalize;
        
        background: abstracts.$overlay-blue-darker;
        color: abstracts.$text-light;
        
        border-radius: abstracts.$border-radius-sm;
        border: 1px solid #333a;
        
        cursor: help;
    }

    .input-div {
        display: flex;
        flex-direction: column;

        margin: 0 0 1rem 0;
        padding: .5em .1em;
        transition: .3s ease;
        position: relative;
        color: abstracts.$text-dark;
        // scale: .97;

        // INFO SECTION
        .info-section {
            // background-color: #fff;
            // background-color: transparent;
            background-color: abstracts.$overlay-blue-dark;
            color: abstracts.$text-light;
            height: 0;
            // width: 80%;
            padding: 1em 1em 2em;
            padding: 0.125rem;
            margin: 0.5rem auto 1rem;
            overflow: hidden;
            transition: .5s;
            // position: relative;
            border-radius: 5px;
            // outline: 1px solid variables.$text-brand;
            // outline-offset: -2px;
            cursor: help;
            overscroll-behavior: contain;
            @media (max-width: 768px) {
                width: 90%;
            }

            

            p {
                padding: 0.5rem;
                line-height: 1.6;
            }

            &:hover {
                height: 50vh;
                overflow: auto;
                background-color: variables.$background;
                background-color: variables.$background;
                i {
                    color: variables.$text-brand;
                    background-color: variables.$background;
                }
            }

            //  ACTIVE CLASS
            &.active {
                height: 50vh;
                overflow: auto;

                i {
                    color: variables.$text-brand;
                    background-color: variables.$background;
                    animation: none;
                    opacity: .8;
                }
            }
        }

        i {
            color: #000;
            background-color: variables.$text-brand;
            border-radius: 50%;
            position: absolute;
            // top: .5em;
            right: 0;
            font-size: 1.5em;
            cursor: pointer;
            transition: .2s;
            animation: pulse 2s infinite;

            @keyframes pulse {
                50% {
                    transform: scale(1.2);
                }
            }
        }

        label {
            // border: 1px solid green;
            transform: translateY(-.5em);
            text-transform: capitalize;
            transition: .2s;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 0.25rem;

            span {
                color: #000a;
                text-transform: lowercase;
                font-size: abstracts.$font-clamp-xsm;
            }

        }

        input, textarea {
            outline: 1px solid #000;
            outline-offset: -3px;
            padding: 0.75rem;
            transition: .3s ease;
            // background-color: variables.$overlay-blue-darker;
            // color: variables.$text-brand;
            border-radius: 5px;
            border: none;
            font-size: abstracts.$font-clamp-sm;


            &:focus {
                outline: 1px dashed lime;
                &::placeholder {
                    // color: variables.$text-brand;
                    // opacity: 1;
                }
            }

            &:invalid {
                
                // background-color: #161616;
                // color: abstracts.$text-light;
                // border: none;
                outline: 1px dashed abstracts.$span-crimson;
            } 
        }

        textarea {
            padding: .5em;
            font-size: 1.2em;
            &:invalid {
                // background-color: variables.$invalid;
            }
        }

        ::placeholder {
            color: hsl(0, 0%, 64%);
            color: abstracts.$text-light-trans;
            text-transform: capitalize;
            opacity: .5;
        }
        // services div
        &.services {
            input {
                margin: .5em 0;
            }
        }

        // input hover state
        &:hover {
            label {
                transform: translateY(0) translateX(.5em);
            }
        }
    }

    // submit button       
    #submit-btn {
        display: block;
        width: 80%;
        margin: 1.5rem auto;
        padding: 1rem;

        color: variables.$text-light;
        text-transform: uppercase;
        font-size: abstracts.$font-clamp-sm;
        font-weight: 600;
        // letter-spacing: .05em;
        
        border: none;
        border-radius: abstracts.$border-radius-md;
        position: relative;
        isolation: isolate;
        cursor: default;
        transition: 250ms ease;

        @include abstracts.sm {
            cursor: pointer;
        }

        &.btn-bg {
            // background-color: red;
            &::before {
                background-image: linear-gradient(0deg,  #5f0315, #dc143c);
            }
            &::after {
                background:#5f0315;
            }


        }

        // button box shadow
        // &::before, &::after {
        //     position: absolute;
        //     content: '';
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     z-index: -1;
        //     border-radius: 10px;
        //     border: none;
        //     outline: none;
        //     transition: .3s ease;
        // }

        // &::before {
        //     background-image: linear-gradient(0deg,  #5f0315, #dc143c);
        //     box-shadow: inset 2px 2px 3px #fff8,
        //                 inset -2px -2px 3px #000a,
        //                 5px 5px 3px rgba(0, 0, 0, 0.130);
        // }
        // &::after {
        //     background-image: linear-gradient(0deg, #dc143c, #5f0315);
        //     opacity: 0;
        //     box-shadow: inset 2px 2px 3px #000a,
        //                 inset -2px -2px 3px #fffa,
        //                 1px 3px 3px rgba(0, 0, 0, 0.220);
        // }

        // button hover state
        // &:hover {
        //     transform: scale(.98);
        //     letter-spacing: 0;
        //     &::before {opacity: 0;}
        //     &::after {opacity: 1;}
        // }
        // // button focus state
        // &:focus {
        //     transform: scale(.95);
        //     &::before {opacity: 0;}
        //     &::after {opacity: 1;}
        // }
    }
}