@use '../abstracts';

.hero {
    // border: 2px solid green;
    position: relative;
    height: 100dvh;
    height: 95vh;
    text-align: center;
    background-color: abstracts.$background-main-light;
    // background-color: red;

    // @include abstracts.md {
    //     padding: 0 5vw;
    // }

    @include abstracts.lg {
        padding: 10vh 10vw;
        // background-color: #cccc;
        // border: 2px solid red;
        display: grid;
        grid-template-areas: 'content img';
        align-content: center;
        justify-content: space-between;
        column-gap: 5vw;
    }

}

.hero-img {
    grid-area: img;
    display: block;
    margin: 0 auto 5vh;
    width: 100%;
    height: 40vh;
    max-height: 450px;
    
    border-radius: abstracts.$border-radius-md;
    overflow: hidden;
    position: relative; 

    // OVERLAY 
    &::after {
        position: absolute;
        content: '';
        inset: 0;
        background: abstracts.$overlay;
        background: linear-gradient(90deg,
                                abstracts.$overlay-blue-dark 30%, 
                                        transparent, 
                                        abstracts.$overlay-blue-dark 70%);
        opacity: .35;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @include abstracts.lg {
        padding: 0;
        height: auto;
        max-height: none;
        margin: 0;

        &::after {
            opacity: 0;
        }

        img {
            // height: 100%;
            // width: 50%;
            // border: 1px solid red;
        }
    }

}

.hero-content {
    grid-area: content;
    padding: 0 5vw 1rem;
    
    @include abstracts.lg {
        border: 2px solid abstracts.$brand;
        border-radius: abstracts.$border-radius-md;
        // padding: 0 10vw 0.5rem;
        // padding:0 5rem 0 0;
        // padding: 1rem;
    }

    .hero-title {
        margin-bottom: 1rem;
        max-width: 800px;
        margin-inline: auto;


        h1 {
            text-transform: capitalize;
            font-size: abstracts.$font-clamp-lg;
            margin-bottom: 0.5rem;
            color: abstracts.$brand-darkest;
        }

        p {
            color: abstracts.$text-main-light;
            font-size: abstracts.$font-clamp-md;
            font-weight: 500;

            &::first-letter {
                text-transform: capitalize;
            }
        }

    }

}

.hero-cta-btns {
    width: 100%;
    margin: 1.5rem auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    

    a {
        width: max-content;
        padding: 0.5rem 0.75rem;
        border-radius: abstracts.$border-radius-sm;
        font-size: abstracts.$font-clamp-sm;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 500;
        color: abstracts.$text-light;
        background: abstracts.$brand;

        
        &::before {
            background: linear-gradient(0deg, 
                                            abstracts.$brand-darker 5%, 
                                            abstracts.$brand-dark 40%);

        
        }

        &::after {
            background: abstracts.$brand-dark;
            background: linear-gradient(0deg, 
                                            abstracts.$brand-dark 50%, 
                                            abstracts.$brand-darker 95%);
        
        }

    }

}

.hero-meta {
    // border: 2px solid red;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    justify-content: center;
    // justify-content: start;
    // align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    // gap: .25rem;
    color: #f4f4f4;
    color: #000;
    text-transform: capitalize;
    // border: 1px solid red;
    overflow: hidden;
    border-radius: abstracts.$border-radius-sm;
    
    li {
        padding: 0.25rem;
        font-size: abstracts.$font-clamp-xsm;
        flex-grow: 1;
        background-color:hsl(0, 0%, 87%);
        border-bottom: 1px solid #fff;
        
        &:nth-child(even){
        background-color:hsl(0, 0%, 80%);
            // background-color:#ddd;
        }

    }
}

