@use '../abstracts';


#nav {
    // border: 2px solid yellow;
    position: fixed;
    top: 0;
    height: abstracts.$nav-height;
    width: 100%;
    padding: 1.25rem 5vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: abstracts.$nav;
    background-color: abstracts.$background-main-light;
    
    z-index: 10;
    box-shadow: 0 0.25rem 0.5rem hsla(240, 70%, 70%, 0.125);

    @include abstracts.md {
        padding: 1.5em 10vw;
    }

    .brand {
        width: 10rem;
        overflow: none;
        position: relative;

        a {
            display: block;

            text-transform: uppercase;
            font-style: italic;
            font-weight: 500;
            text-decoration: none;
            font-size: abstracts.$font-clamp-xsm;
            
            width: max-content;
            padding: 0.125rem 0.5rem;
            background-color: abstracts.$brand;
            color: abstracts.$text-light;
            
            border: 1px solid;
            // border-right-color: transparent;
            // border-left-color: transparent;
            border-radius: abstracts.$border-radius-md;
            border-radius: 50%;

            cursor: default;
            transition: 200ms;
            position: relative;

            img {
                width: 100%;
            }
            
            &:active {
                transform: scale(.95);
                background-color: abstracts.$brand-dark;

            }

            @include abstracts.sm {
                cursor: pointer;
                &:hover {
                    transform: scale(.95);
                }
            }

        }

    }

    // nav-list mobile first**
    .nav-list {
        // border: 3px solid green;
        position: absolute;
        width: 100%;
        min-height: 100vh;
        right: -110%;
        top: abstracts.$nav-height;
        
        background-color: abstracts.$brand-dark-black;
        color: abstracts.$text-light;

        transition: 500ms;
        padding: 10vh 5vw 0;
        z-index: -2;

        .contact-items {
            // border: 1px solid red;
            background-color: abstracts.$brand-darkest;
            width: 95%;
            border-radius: abstracts.$border-radius-md;
            padding: 0.5rem 1rem;
            
            ul {
                padding: 0;
                width: 100%;
                border: none;
                
                li {
                    background-color: abstracts.$brand-dark-black;
                    a {
                        text-transform: none;
                    }

                }
                
            }

            h3 {
                margin-bottom: 0.5rem;
                text-transform: capitalize;
                font-size: abstracts.$font-clamp-sm;
            }
        }

        ul {
            list-style: none;
            
            li {
                // border: 1px solid red;
                margin-bottom: 2em;
                display: flex;
                gap: 0.5rem;

                a {
                    display: block;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: abstracts.$text-light;
                    width: 100%;
                    cursor: default;

                    &:hover {
                        color: abstracts.$text-brand;
                    }

                }

            }
        }
        
        // MOBILE NAV MENU
        @media (max-width: 768px){
            
            ul {
                width: 95%;
                padding: 1rem;
                margin-bottom: 2rem;
                
                display: flex;
                flex-direction: column;
                align-items: right;
                justify-content: center;
                gap: 0.5rem;
                
                border: 1px solid abstracts.$brand-dark;
                border-right-color: transparent;
                border-left-color: transparent;
                border-radius: abstracts.$border-radius-md;

                li {
                    align-items: center;

                    background: abstracts.$brand-darkest;
                    border-radius: abstracts.$border-radius-md;
                    padding-inline: 0.5rem;
                    margin: 0;
                    border: 1px solid transparent;
                    transition: 150ms;

                    a {
                        padding: 0.25rem 0.25rem;
                    }


                    &:hover {
                        background: abstracts.$brand-darker;
                        border-top-color: abstracts.$border-light;
                        border-bottom-color: abstracts.$border-light;

                        a {
                            color: unset;
                        }
                        .icon {
                            translate: 0.25rem;
                        }
                    }
                }

            }

            &.active {
                right: -5vw;
                
            }
    }

        // DESKTOP NAV MENU
        @include abstracts.md {

            .contact-items {
                display: none;
            }

            // display: flex;
            position: relative;
            background-color: abstracts.$brand-darkest;
            right: 0;
            top: 0;
            padding: 1rem;
            border-radius: 5px;
            min-height: auto;
            height: 5vh;
            z-index: 5;
        ul {
            // border: 1px solid yellow;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            height: 100%;
            li {
                margin: 0;
                // margin: 0 0.5em 0 2em;
                // padding: .5em 1em;
                display: flex;
                align-items: center;
                a {
                    font-size: 0.95rem;
                    color: abstracts.$text-light;
                    cursor: pointer;
                    // display: block;
                }
                
                
                &:hover {
                    

                    i {
                        color: abstracts.$text-light;
                    }
                }
            }
        }
        }

    }
}


 // hamburger display
    .nav-toggle {
        border: 1px solid abstracts.$brand;
        border: 1px solid transparent;
        border-radius: 50%;
        position: absolute;
        right: 1rem;
        padding: 1em;
        display: grid;
        place-items: center;
        transition: .3s ease;
        cursor: default;

        .bar {
            position: absolute;
            width: 60%;
            height: 2px;
            background-color: abstracts.$brand;
            background-color: abstracts.$toggle-bar;
            transition: .3s;

            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: abstracts.$brand;
                background-color: inherit;
                transition: .3s ease;
            }

            &::before {
                transform: translateY(.3em);
            }

            &:after {
                transform: translateY(-.3em);
            }
        }

        &:active {
            background-color: abstracts.$brand-dark;
        }

        &.active {
            // transform: scale(.95) rotate(30deg);
            // rotate: 30deg;
            transition: 500ms ease;

            .bar {
                &::before {
                    // transform: translateY(0);
                    transform: translateX(-0.25rem) translateY(.3em);
                }

                &::after {
                    // transform: translateY(0);
                    transform: translateX(0.25rem) translateY(-.3em);
                }
            }

        }

        @include abstracts.sm {
            &:hover {
                // background-color: abstracts.$overlay-blue-dark;
                background-color: abstracts.$brand-light;
        
            }
        }

        // HIDE TOGGLE ON DESKTOPS
        @include abstracts.md {
            display: none;
        }
    }